<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Creado - ECO Culiacán</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/ECO.png">
</head>
<body>
    <header class="encabezado">
        <div class="logo">
            <a href="/"><img src="/images/ECO.png" alt="Logo Eco Culiacán"/><span></span></a>
        </div>
        </header>

    <main class="main-content">
        <div class="confirmation-container">
            <img src="/images/aprobado.gif" alt="Confirmación">
            <h1>Reporte creado.</h1>
            <p>¡Gracias por su preferencia!</p>
            
            <a href="/bienvenida" class="btn-accept">Aceptar</a>
            
            <% if (showDonateButton) { %>
                <a href="/donacion" class="btn-donate-alt">Donar</a>
            <% } %>
        </div>
    </main>

    <footer class="pie">
        <p>Menos basura, más futuro</p>
        <a href="https://ECOCuliacan.com.mx/" target="_blank">ECOCuliacán.com.mx</a>
        <div class="social-icons">
            <a href="https://www.facebook.com/share/16Je91rWsc" target="_blank"><img src="/images/facebook.png" alt="Facebook" class="social-icon"></a>
            <a href="https://x.com/ECOCuliacan" target="_blank"><img src="/images/twitter.png" alt="Twitter" class="social-icon"></a>
            <a href="https://www.instagram.com/eco.culiacan/profilecard/" target="_blank"><img src="/images/ig.png" alt="Instagram" class="social-icon"></a>
        </div>
    </footer>
</body>
</html>
